@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #E3E6F3;
  box-shadow: 0px 5px 15px #088178;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#header a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
}

#navbar li a:hover,
#navbar li a.active {
  color: #088178;
  text-decoration: underline;
}


#mobile {
  display: none;
}

#close {
  display: none;
}

#hero {
  background-image: url(images/hero3.jpg);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h2,
#hero p {
  color: #ffffff;
}

#hero a {
  color: white;
  text-decoration: none;
}

button {
  background-color: #088178;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}


#upload {
  background-color: #fcfefd;
  height: 80vh;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}

#upload #upload-box img {
  height: 50vh;
}

#upload #upload-box {
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#upload #upload-box h4{
  padding-top: 50px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .companyName {
  margin-bottom: 20px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}


footer p {
  font-size: 13px;
  padding-bottom: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .paymentInfo .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}

footer .copyright {
  width: 100%;
  text-align: center;
}


/* About Page */

#page-header {
  background-image: url(images/banner.png);
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#page-header h2,
#page-header p {
  color: #E3E6F3;
}

#about-head img {
  width: 50%;
  height: auto;
}

#about-head {
  display: flex;
  align-items: center;
}

#about-head div {
  padding-left: 40px;
}

/* Contact Page */
#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact-details .details {
  width: 40%;
}

#contact-details .details span,
#form-details form span {
  font-size: 16px;
}

#contact-details .details h2,
#form-details form h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}

#contact-details .details li {
  display: flex;
  list-style: none;
  padding: 10px 0;
}

#contact-details .details li i {
  font-size: 14px;
  padding-right: 10px;
}

#contact-details .details li p {
  margin: 0;
  font: 14px;
}

#contact-details .map {
  width: 55%;
  height: 400px;
}

#contact-details .map iframe {
  width: 100%;
  height: 100%;
}

#form-details form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#form-details form input,
#form-details form textarea {
  width: 70%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
  box-shadow: 0px 5px 7px #088178;
}

#form-details {
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1;
}




@media (max-width:820px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #E3E6F3;
    box-shadow: 0 40px 60px rgb(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;

  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: flex;
  }

  #close {
    display: flex;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }

  #upload {
    height: 60vh;
  }

  #upload #upload-box img {
    height: 40vh;
  }

  #hero {
    height: 60vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }

  #upload h4 {
    margin-top: 60px;
}

  #contact-details .map {
    width: 50%;
    height: 400px;
  }

  .section-p1 {
    padding: 10px 50px;
  }


}

@media (max-width:540px) {
  #header {
    padding: 10px 40px;
  }

  #hero {
    padding: 30px 10px;
    background-position: 55%;
    height: 60vh;
  }

  h2 {
    font-size: 32px;
  }

  #upload {
    height: 60vh;
  }

  #upload h4 {
    padding-top: 60px;
  }

  /* About Page */

  #about-head {
    flex-direction: column;
    padding: 30px 10px;
  }

  #about-head img {
    width: 100%;
    margin-bottom: 20px;
  }

  #contact-details {
    width: 100%;
    flex-direction: column;
  }

  #contact-details .details {
    width: 100%;
    margin-bottom: 30px;
  }

  #contact-details .map {
    width: 100%;
  }


  #form-details {
    margin: 10px;
    padding: 30px 10px;
  }

  #form-details form input,
  #form-details form textarea {
    width: 100%;
  }

  #form-details form {
    width: 100%;
  }





}